body {
    background-image: url("bg.jpg");
    background-size: cover;
}

#main_menu {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
    font-family: Arial, sans-serif;
}
#how_to_play {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
     background-color: #eee;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
button:hover {
    background-color: #555;
    color: white;
    transition: 0.5s;
}
#final_score {
    font-size: 32px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
}
#game_over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: white;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}
h1 {
    text-shadow: 2px 2px 4px #000000;
}